@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="~/Content/play.jpg" alt="Play" class="main_image" >

</div>

<div class="jumbotron">
    <h1>Welcome to<i> VTCT</i></h1>
    <p class="lead">The  <i><b> VHS Tape Categorization Tool</b></i> is your one-stop-shop for organzing your collection of VHS tapes online.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div>
    <img src="~/Content/tapes.png" alt="Play" class="main_image">

</div>

<div class="spacer"></div>

<div class="row">
    <div class="col-md-12">
        <h1>Why VHS?</h1>
        <p>
            VHS Tapes, especially home recorded ones, are part of our cultural history. Since we have transitioned from the analog to the digital
            world, it has become more important to preserve this history. Currently, the majority of VHS recordings that remain are siloed in private collections.
            VTCT helps bridge these private collections. 
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
 
</div>

<div class="spacer"></div>

<div class="row">
    <div class="col-md-4">
        <h2>List your VHS Tape Collection</h2>
        <p>
            Create a list of every VHS tape you own. Share that list with everyone! Add titles, descriptions, genre, and categories.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Add VHS Tapes to Categories</h2>
        <p>Create Categories for your tapes. Once you have your collection listed. Add tapes to fun Categories like "Great Christmas Movies"</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Share your VHS Collection with the World</h2>
        <p>Easily share your collection of VHS Tapes and your categories with the world!</p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>*@
    </div>
</div>

<div class="spacer"></div>
<div class="spacer"></div>